{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}


{% block monTitre %}
    Login
{% endblock %} 
{% block body %}
<div id="main-wrap" class="container-fluid">
    <div class="section-full">
        <div id="admin-form" class="container">
            {% if error %}
                <div class= "alert alert-danger">
                    {{ error.messageKey | trans(error.messagedata, 'security') }}
                </div>
            {% endif %}
                <form action="{{ path('connexion') }}" method="post">
                    <div class="form-group">
                        <div class="col-lg">  
                            <label>Login: </label>
                            <input type="text" required name="_username" class="form-control">                       
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg">  
                            <label>Paswword: </label>
                            <input type="password" required name="_password" class="form-control">                       
                        </div>
                    </div>
                    <input class="m-top-30 btn btn-warning" type="submit" value="S'identifier" />
                </form> 
            </div>
        </div>
    </div>    
{% endblock %}