
/* Overlay avec hover sur une image en HTML/CSS */

/* Conteneur principal */
.overlay-image {
    position: relative;
    width: 100%;
   }
   /* Image originale */
   .overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
    cursor: none;
   }
   /* Texte original */
   .overlay-image .title {
    color: rgb(42, 124, 134);
    font-family: 'Monofett', cursive;
    font-size: 120px; 
    letter-spacing: 4px;   
    text-shadow: 2px 2px 2px  #2c1249;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    cursor: pointer;
   }

   /* Texte original */
   .overlay-image .subTitle {
    color: rgb(42, 124, 134);
    font-family: 'Cabin Sketch', cursive;
    font-size: 100px; 
    letter-spacing: 4px;   
    text-shadow: 2px 2px 2px  #2c1249;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    cursor: none;
   }
 