/* GENERAL */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

.navbar-brand{
  font-family: 'Monofett', cursive;
  font-size: 5em;
  color:white;
  letter-spacing: 2px;
  
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(160, 160, 160); 
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
}

img{
    max-width: 100%;
    height: auto;
}
 ul, ol{
    list-style: none;
} 



 #navbarDropdown {
  font-size: 20px;
  padding: 20px;
  font-family: 'Bungee Inline', cursive;
  color: rgb(42, 124, 134);
}

.dropdown-item{
  color: rgb(42, 124, 134);
}

.dropdown-divider{
  color: rgb(42, 124, 134);
} 

