/* GENERAL */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}
.perso_imgPlayer{
  width: 150px;
  height: 120px;
  object-fit: cover;
}


.navbar-brand{
  font-family: 'Monofett', cursive;
  font-size: 5em;
  color:rgba(21, 99, 122, 0.877);
  letter-spacing: 2px;
  
}

body{
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(37, 103, 112); 
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
}

img{
    max-width: 100%;
    height: auto;
}
 ul, ol{
    list-style: none;
} 


.navbar-brand{
  font-family: 'Monofett', cursive;
  font-size: 5em;
  color:white;
  letter-spacing: 2px;
  
}
 #navbarDropdown {
  font-size: 20px;
  padding: 20px;
  font-family: 'Bungee Inline', cursive;
  color: rgb(42, 124, 134);
}

.dropdown-item{
  color: rgb(42, 124, 134);
}

.dropdown-divider{
  color: rgb(42, 124, 134);
} 

