{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}


{% block monTitre %}

{% endblock %}

{% block body %}

    <h1>La page demandée n'hexistes pas ! </h1>
    <div class="container">
        <img class="image" src="{{ asset("images/Error/error.png") }}">  
    </div>

{% endblock %}






